html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

:root {
  --main: #f02d34;
  --barner-color : goldenrod;
  --text:  gray;
  --white: white;
  --cards: #324d67;
  --offwhite: #ebebeb;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}
.layout {
  padding: 10px;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--white);
  height: 2.5rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}
.login-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

.login-wrapper img{
  object-fit: contain;
  height: 200px;
  width: auto;
  margin-top: 60px;

}
.login-button{
  padding: 4px 10px;
  background-color: var(--main);
  color: var(--white);
  font-size: large;
  margin-top: 60px;
  padding: 14px;
  border: none;
  width: 140px;
  margin: 80px auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.signout-button{
  padding: 4px 5px;
  background-color: var(--main);
  color: var(--white);
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: var(--main);
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px var(--main);
  margin-left: 6px;
}
.logo {
  color:var(--text);
  font-size: 18px;
}
.cart-icon {
  font-size: 25px;
  color: var(--text);
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover {
  transform: scale(1.1, 1.1);
}
.cart-item-qty {
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: var(--white);
  background-color: var(--main);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}
.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: var(--cards);
}
.product-card:hover {
  transform: scale(1.1, 1.1);
}
.product-image {
  border-radius: 15px;
  background-color: var(--offwhite);
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}
.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color:var(--barner-color);

  border-radius: 15px;
  position: relative;
  height: 450px;
  line-height: 0.9;
  width: 100%;
}
.hero-banner-container .beats-solo {
  font-size: 20px;
}
.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: var(--main);
  color: var(--white);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}
.hero-banner-container h1 {
  color: var(--white);
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 450px;
  height: 450px;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: var(--cards);
}
.desc p {
  color: var(--text);
  font-weight: 100;
  text-align: end;
}
.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}
.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: var(card);
}
.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}
.products-heading p {
  font-size: 16px;
  font-weight: 200;
}
.footer-banner-container {
  padding: 100px 40px;
  background-color: var(--main);
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: var(--white);
  width: 100%;
  margin-top: 120px;
}
.banner-desc {
  display: flex;
  justify-content: space-between;
}
.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: var(--white);
  color: var(--main);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.banner-desc .left p {
  margin: 18px;
}
.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}
.banner-desc .right {
  line-height: 1.4;
}
.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p {
  font-size: 18px;
}
.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}
.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}
.cart-container {
  height: 100vh;
  width: 600px;
  background-color: var(--white);
  float: right;
  padding: 40px 10px;
  position: relative;
}

.footer-container {
  color: var(--cards);
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}
.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-num-items {
  margin-left: 10px;
  color: var(--main);
}
.empty-cart {
  margin: 40px;
  text-align: center;
}
.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}
.cancel {
  cursor: pointer;
}
.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}
.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: var(--offwhite);
}
.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: var(--cards);
}
.item-desc .bottom {
  margin-top: 60px;
}
.flex h5 {
  font-size: 24px;
}
.flex h4 {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total h3 {
  font-size: 22px;
}
.remove-item {
  font-size: 24px;
  color: var(--main);
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.cart-bottom .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-bottom .buttons .buy-now {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-container {
  width: 400px;
  margin: auto;
}
.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: var(--main);
  color: var(--white);
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}
.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: var(--cards);
}

.product-detail-image {
  border-radius: 15px;
  background-color: var(--offwhite);

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.product-detail-image:hover {
  background-color: var(--main);
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small-image {
  border-radius: 8px;
  background-color: var(--offwhite);
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: var(--main);
}
.reviews {
  color: var(--main);
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}
.product-detail-desc p {
  margin-top: 10px;
}
.reviews p {
  color: var(--cards);
  margin-top: 0px;
}
.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: var(--main);
}
.price .old-price,
.product-price .old-price,
.price .old-price {
  color: var(--text);
  text-decoration: line-through;
}
.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}
.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid var(--main);
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--white);
  color: var(--main);
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}
.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: var(--main);
  color: var(--white);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}
.quantity-desc {
  border: 1px solid var(--text);
  padding: 6px;
}
.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}
.quantity-desc .minus {
  border-right: 1px solid var(--text);
  color: var(--main);
}
.quantity-desc .num {
  border-right: 1px solid var(--text);
  font-size: 20px;
}
.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.maylike-products-wrapper {
  margin-top: 120px;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: var(--cards);

  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.max-qty {
  font-weight: 500;
  color: var(--main);
}
.success-wrapper,
.cancel-wrapper {
  background-color: var(--white);
  min-height: 60vh;
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: var(--offwhite);
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: var(--cards);
}
.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.success .description .email {
  margin-left: 5px;
  color: var(--main);
}
.product-max-qty {
  margin-top: 10px;
}
.container {
  display: flex;
  margin: 5% auto;
  width: 635px;
  height: 430px;
  background: var(--white);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}


/* slashed price section start */
.slashed-price-container {
  margin: 5% auto;
  width: 65%;
  height: 70%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slashed-price-container .slashed-price {
  font-size: 2.5rem;
  color: var(--main);
}

.slashed-price-container .btn {
  background-color: #9b0b0f;
}

.conditions {
  padding: 1rem;
}
.conditions h3{
  margin-bottom: 1.5rem;
  color: var(--cards)
}
.conditions h4 {
  margin-bottom: 1rem;
  color: var(--cards)
}
.conditions p {
  color: var(--cards);
}
.progress {
  background-color: var(--text);
  height: 1rem;
  border-radius: 4px;
  width: 100%;
  position: relative;
  margin-top: 2.5rem;
}
.progress-section p {
  margin-top: 0.5rem;
  color: var(--main);
}
.progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--main);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.progress .skill-percent {
  position: absolute;
  right: 0;
  color: var(--main);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

/* slashed price section end */
.item {
  max-width: 50%;
  position: relative;
}

.item-image {
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-color: var(--cards);
  overflow: hidden;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #84a17d;
  text-align: left;
}
.new {
  max-width: 100%;
}
.item-details__title {
  font-size: 22px;
}

.item-details__amount {
  font-weight: bolder;
}

.checkout {
  background: var(--barner-color); /* fallback for old browsers */

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430px;
  width: 50%;
}

.checkout-form {
  padding: 20px 20px;
}

.checkout-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-field label {
  text-align: left;
  color: #e0eafc;
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.checkout-field input {
  background-color: transparent;
  border: 1px solid var(--offwhite);
  border-radius: 5px;
  color: var(--white);
  height: 35px;
  padding-left: 10px;
}

.checkout-field input:focus {
  background-color: transparent;
  outline: none;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #bfbfbf;
  font-weight: bold;
  color: #e0eafc;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 40px;
}

.paystack-button:hover {
  background-color: #dadada;
}

.paystack-button:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .hero-banner-container {
    height: 560px;
  }
  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }
  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }
  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .banner-desc .left p {
    margin: 18px;
  }
  .banner-desc .right h3 {
    font-size: 45px;
  }
  .banner-desc .right p {
    font-size: 18px;
  }
  .banner-desc .right .company-desc {
    font-size: 14px;
  }
  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }
  .hero-banner-container {
    line-height: 1.3;
  }
  .hero-banner-container h1 {
    font-size: 50px;
  }
  .hero-banner-container h3 {
    font-size: 40px;
  }
  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }
  .desc {
    bottom: 60px;
  }
  .product-detail-container {
    flex-wrap: wrap;
  }
  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }
  .cart-container {
    width: 415px;
    padding: 4px;
  }
  .cart-heading {
    margin-top: 35px;
  }
  .product-container {
    margin-top: 10px;
  }
  .product {
    padding: 20px 5px;
  }
  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart {
    width: 150px;
  }
  .buttons .buy-now {
    width: 150px;
  }
  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }
  .top {
    flex-wrap: wrap;
    gap: 10px;
  }
  .item-desc .bottom {
    margin-top: 30px;
  }
  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }
  .flex h4 {
    font-size: 16px;
    color: black;
  }
  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }
  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }
  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }
  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success {
    height: 350px;
  }
  .success h2 {
    font-size: 17px;
  }
  .btn-container {
    width: 300px;
    margin: auto;
  }
}
